src/main/mule/mobile-customer-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" 
xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
xmlns="http://www.mulesoft.org/schema/mule/core" 
xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" 
xmlns:http="http://www.mulesoft.org/schema/mule/http" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="mobile-customer-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="mobile-customer-api-config" raml="mobile-customer-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="e9934a1d-f9b4-4953-af54-4911e9861c0c" basePath="${http.client.basePath}">
		<http:request-connection host="${http.client.host}" port="${http.client.port}" />
	</http:request-config>
	<configuration-properties doc:name="Configuration properties" doc:id="5ae3c8d5-2223-4c67-9ac5-76ed7ce8d26e" file="config/configuration-${mule.env}.yaml" />
	<flow name="mobile-customer-api-main">
        <http:listener config-ref="mobile-customer-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="mobile-customer-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="mobile-customer-api-console">
        <http:listener config-ref="mobile-customer-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="mobile-customer-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\user\(userId)\shopping_cart:application\json:mobile-customer-api-config">
        <http:request method="PUT" doc:name="Request" doc:id="00706937-caa4-4e81-b6e1-7f06c2a88e33" config-ref="HTTP_Request_configuration" path="#['/user/' ++ attributes.uriParams.userId ++ '/shopping_cart']">
			<http:headers ><![CDATA[#[output application/java
---
{
	"Content-Type" : "application/json",
	"Accept" : "application/json",
	"client_id" : "1234",
	"client_Secret" : "5678"
}]]]></http:headers>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="33afb132-7d79-4b53-8983-b4f3757cd820" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
null]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="put:\user\(userId):application\json:mobile-customer-api-config">
        <http:request method="PUT" doc:name="Request" doc:id="7ede31d7-5668-4139-b738-dc265efae3fc" config-ref="HTTP_Request_configuration" path="#['/user/' ++ attributes.uriParams.userId]">
        		<http:headers ><![CDATA[#[output application/java
---
{
	"Content-Type" : "application/json",
	"Accept" : "application/json",
	"client_id" : "1234",
	"client_Secret" : "5678"
}]]]></http:headers>
		</http:request>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="5d8e025c-2c6f-4c69-b818-789a43a576fd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="9ef1a731-7715-4eba-b6bd-b27ad36e751b" message="#[payload]"/>
    </flow>
    <flow name="get:\orders\order\(order_id):mobile-customer-api-config">
		<http:request method="GET" doc:name="Request" doc:id="759050b6-28d7-4805-b794-5b35b31c8083" config-ref="HTTP_Request_configuration" path="#['/orders/order/' ++ attributes.uriParams.order_id]">
			<http:headers ><![CDATA[#[output application/java
---
{
	"Content-Type" : "application/json",
	"Accept" : "application/json",
	"client_id" : "1234",
	"client_Secret" : "5678"
}]]]></http:headers>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="7138a3ae-291a-4d2e-9db3-5235fdbb360d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="get:\products\product\(product_id):mobile-customer-api-config">
        <http:request method="GET" doc:name="Request" doc:id="c1239cbf-2fd9-4ae2-a03d-02bf3eb76005" config-ref="HTTP_Request_configuration" path="#['/products/product/' ++ attributes.uriParams.product_id]">
        		<http:headers ><![CDATA[#[output application/java
---
{
	"Content-Type" : "application/json",
	"Accept" : "application/json",
	"client_id" : "1234",
	"client_Secret" : "5678"
}]]]></http:headers>
		</http:request>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="48e22bfb-0b74-44c0-8fc0-e2d4b7f634c8">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\orders\search:mobile-customer-api-config">
		<http:request method="GET" doc:name="Request" doc:id="eccec327-cb77-4bfe-bf34-6b64c392ea9d" config-ref="HTTP_Request_configuration" path="/orders/search">
			<http:headers ><![CDATA[#[output application/java
---
{
	"Content-Type" : "application/json",
	"Accept" : "application/json",
	"client_id" : "1234",
	"client_Secret" : "5678"
}]]]></http:headers>
			<http:query-params ><![CDATA[#[output application/java
---
{
	"user_id" : "1"
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="786b61cf-3292-4b20-b054-4decc98e7f74" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="get:\products\search:mobile-customer-api-config">
        <http:request method="GET" doc:name="Request" doc:id="9210c097-95b3-43e7-b3fa-a00a09d0dad9" config-ref="HTTP_Request_configuration" path="/products/search">
        		<http:headers ><![CDATA[#[output application/java
---
{
	"Content-Type" : "application/json",
	"Accept" : "application/json",
	"client_id" : "1234",
	"client_Secret" : "5678"
}]]]></http:headers>
			<http:query-params ><![CDATA[#[output application/java
---
{
	"offset" : attributes.queryParams.offset default "1",
	"maxResults" : attributes.queryParams.maxResults default "25",
	"name": attributes.queryParams.name default "t-shirt"
}]]]></http:query-params>
		</http:request>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="91571a3a-0525-432c-961d-38fb684496c8">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="394efddb-8150-4d5b-b612-d910de4c55a7" message='"Hey I am at the Mobile Customer Deploying a new Version of the API!!!"' />
    </flow>
    <flow name="get:\user\(userId)\shopping_cart:mobile-customer-api-config">
        <http:request method="GET" doc:name="Request" doc:id="1c7bd6df-1ff5-4073-96e2-57a5ef056ae9" config-ref="HTTP_Request_configuration" path="#['/user/' ++ attributes.uriParams.userId ++ '/shopping_cart']">
        		<http:headers ><![CDATA[#[output application/java
---
{
	"Content-Type" : "application/json",
	"Accept" : "application/json",
	"client_id" : "1234",
	"client_Secret" : "5678"
}]]]></http:headers>
		</http:request>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="0b761456-0bee-4488-9def-811a932fa072">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\user\(userId):mobile-customer-api-config">
        <http:request method="GET" doc:name="Request" doc:id="34b81a80-0515-4b06-8ce5-3bf5a5c1c976" config-ref="HTTP_Request_configuration" path="#['/user/' ++ attributes.uriParams.userId]">
        		<http:headers ><![CDATA[#[output application/java
---
{
	"Content-Type" : "application/json",
	"Accept" : "application/json",
	"client_id" : "1234",
	"client_Secret" : "5678"
}]]]></http:headers>
		</http:request>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="5a07dd84-297f-4c05-8b48-249edc7471ee">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\user\(userId)\shopping_cart\confirmation:application\json:mobile-customer-api-config">
        <http:request method="POST" doc:name="Request" doc:id="de978a3e-1064-4522-87bd-b7243e7eae21" config-ref="HTTP_Request_configuration" path="#['/user/' ++ attributes.uriParams.userId ++ '/shopping_cart/confirmation']">
        		<http:headers ><![CDATA[#[output application/java
---
{
	"Content-Type" : "application/json",
	"Accept" : "application/json",
	"client_id" : "1234",
	"client_Secret" : "5678"
}]]]></http:headers>
		</http:request>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="50f02a14-8086-44fb-8eed-d95316d44596">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\session:application\json:mobile-customer-api-config">
        <http:request method="POST" doc:name="Request" doc:id="91724e19-4a20-4e67-ab1c-ae0303d76b92" config-ref="HTTP_Request_configuration" path="/session">
        		<http:headers ><![CDATA[#[output application/java
---
{
	"Content-Type" : "application/json",
	"Accept" : "application/json",
	"client_id" : "1234",
	"client_Secret" : "5678"
}]]]></http:headers>
		</http:request>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="ea1cc4e6-1c6c-4c38-996c-3dc64b40a656" doc:name="Transform">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\user:application\json:mobile-customer-api-config">
        <http:request method="POST" doc:name="Request" doc:id="121d076a-229f-46d2-97dd-ce99ee4a54d6" config-ref="HTTP_Request_configuration" path="/user">
        		<http:headers ><![CDATA[#[output application/java
---
{
	"Content-Type" : "application/json",
	"Accept" : "application/json",
	"client_id" : "1234",
	"client_Secret" : "5678"
}]]]></http:headers>
		</http:request>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="14d29650-719c-4873-b83f-0ae8295f2ae7">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
